extends layout

block content
    form(action='./save' method='post')
        input(type='text' name='full_word' placeholder='Can contain only A B C D')
        //input(type='text' name='alphabet_one' placeholder='Choose A or B or C or D')
        //input(type='text' name='alphabet_two' placeholder='Choose A or B or C or D')
        //input(type='text' name='alphabet_three' placeholder='Choose A or B or C or D')
        //input(type='text' name='alphabet_four' placeholder='Choose A or B or C or D')
        input(type='submit', value='Submit')