extends layout

block content
    h2 Please enter the character that you want to guess
    form(action='./save' method='post')
        input(type='text' name='full_word' placeholder='Can contain only A B C D')
        input(type='submit', value='Submit')